<essential-fields-form-component form-data="travelBookingCtrl.essentialFormData" bind-data-key="essentialFormData" form-field-essential-data ="travelBookingCtrl.currentFormFieldsEssentialData" reflect-form-data = "travelBookingCtrl.essentialFieldsUpdateWrapper(keyString,value, fieldId)"
 ></essential-fields-form-component>

<child-services-wrapper-component form-data="travelBookingCtrl.currentFormData.childServices" bind-data-key="currentFormData.childServices" form-fields-data ="travelBookingCtrl.currentFormFieldsChildServicesData" reflect-form-data="travelBookingCtrl.childServicesFormUpdateWrapper(keyString,value, childServiceId, fieldId)" form-fields-services-names="travelBookingCtrl.currentFormFieldsServicesNames"></child-services-wrapper-component>
