<md-dialog>
          <md-radio-group>
            <md-radio-button value=oneWay>
               One Way
            </md-radio-button>

            <md-radio-button value=roundTrip>
               Round trip
            </md-radio-button>
            <md-radio-button value=multiCity>
               Multi city
            </md-radio-button>
          </md-radio-group>
          <md-button class="md-primary" ng-click="bookButton.go()">
          Proceed
          </md-button>
          </md-dialog>
