

<selected-data-display-component   service-logo="staySelectedDataRenderer.serviceLogo" service-details=" staySelectedDataRenderer.serviceDetails" begin-date-time="staySelectedDataRenderer.beginDateTime" end-date-time="staySelectedDataRenderer.endDateTime"price="staySelectedDataRenderer.price" extra-description="staySelectedDataRenderer.extraDescription" >
</selected-data-display-component>



<!-- <br>
Inside selected-data-display-component
<div layout="row">
  <div flex="80" >
<selected-data-display-component   service-logo="staySelectedDataRenderer.serviceLogo" service-details=" staySelectedDataRenderer.serviceDetails" begin-date-time="staySelectedDataRenderer.beginDateTime" end-date-time="staySelectedDataRenderer.endDateTime"price="staySelectedDataRenderer.price" extra-description="staySelectedDataRenderer.extraDescription" >
</selected-data-display-component>
</div>
<div flex="20">
<ng-md-icon flex="45" size="35px" icon="delete" ng-click="staySelectedDataRenderer.deleteStayChild()"></ng-md-icon>
<ng-md-icon flex="45" flex-offset="5"  size="35px" icon="mode_edit" ng-click="staySelectedDataRenderer.editStayChild()"></ng-md-icon>
</div>
</div> -->
