
.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.light-blue-font {
  color: #261F63
}

@media( max-width:700px){
  .filter{display: none;}
  .button{ width: 50px !important;}
}


.img{
  height: 70px !important; margin:10% 10%; padding:5%;
  width: 100px !important;
}

#flightContainer{
  background-color: #e3e3e3;
}
