.travelplan_page {
    background-color: #f4f3ef;
}

.Acomodation_header {
    /*border-bottom: 4px solid #2a8ce2;*/
    margin-top: 80px;
    margin-left: 0px !important;
    margin-right: 0px !important;

}


/*custom tooTip*/
.wrapper {
  text-transform: uppercase;
  background: #ececec;
  color: #555;
  cursor: help;
  font-family: "Gill Sans", Impact, sans-serif;
  font-size: 20px;
  position: relative;
  text-align: center;
  width: 30px;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.wrapper .tooltip {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: -25px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
}

/* CSS Triangles - see Trevor's post */
.wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

.wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper .tooltip {
  display: none;
}

.lte8 .wrapper:hover .tooltip {
  display: block;
}

.login-box {
    width: 33%;
    margin-top: 50px
}

/*.mainTravelDiv{
  border-bottom: 2px solid #2a8ce2;
  margin-top: 50px;
}*/
.md-headline {
    margin-bottom: 15px !important;
}

.comp {
    margin-top: 10px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 10px !important;
    padding-top: 0px !important;

}

.comp_details {
    border-bottom: 4px solid #2a8ce2;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 14px !important;
    padding-top: 0px !important;
}

.city_field {
    margin-top: 50px;
}

.hotel_stay {
    border-bottom: 4px solid #2a8ce2;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.text-center {
    text-align: center;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
}

.header {
    /*background-color:#D3D3D3;*/
}

.main_component {
    layout-align: "center center";
    /*background-color: #D3D3D3;*/
    margin-left: 50px;
    /*border-bottom: 4px solid #2a8ce2;*/
}

@media screen and (min-width: 768px) {
    .node-md {
        display: block;
        width: 55px;
        height: 55px;
        line-height: 50px;
        border: 1px solid #464646;
        border-radius: 50%;
        color: #464646;
        text-align: center;
        text-decoration: none;
        box-shadow: 0 0 3px gray;
        font-size: 15px;
        cursor: pointer;
        background-color: #2a8ce2;

    }

    .line {
        margin-right: -15px;
        margin-left: -15px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        width: 100%;
        padding-top: 10px;
        height: 260px;
        display: inline-block;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .node-md {
        display: block;
        width: 55px;
        height: 55px;
        line-height: 50px;
        border: 1px solid #464646;
        border-radius: 50%;
        color: #464646;
        text-align: center;
        text-decoration: none;
        box-shadow: 0 0 3px gray;
        font-size: 15px;
        cursor: pointer;
    }

    .line {
        margin-right: -15px;
        margin-left: -15px;

    }
}

.node-local-travel {
    margin-left: 20px
}

.node-stay {

}

@media screen and (min-width: 768px) {
    .node {
        display: inline;
    }
}

@media screen and (max-width: 767px) {
    .node {

    }
}

@media screen and (min-width: 768px) {
    .node-sm {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #464646;
        border-radius: 4%;
        color: #ececec;
        text-align: center;
        text-decoration: none;
        box-shadow: 0 0 3px gray;
        font-size: 15px;
        background: #969292;
        margin-top: -1%;
        cursor: pointer;
    }
}

@media screen and (max-width: 767px) {
    .node-sm {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #464646;
        border-radius: 50%;
        color: #ececec;
        text-align: center;
        text-decoration: none;
        box-shadow: 0 0 3px gray;
        font-size: 15px;
        background: #464646;
        margin-top: -1%;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .node-add {
        width: 20px;
        height: 20px;
        line-height: 19px;
        border: 1px solid #464646;
        border-radius: 50%;
        color: #ececec;
        text-align: center;
        text-decoration: none;
        box-shadow: 0 0 3px gray;
        font-size: 12px;
        background: #464646;
        margin-top: 2%;
        cursor: pointer;
        position: relative;
        bottom: 100px;

    }

    .node-add-action {

        display: inline-block;
    }
}

@media screen and (max-width: 767px) {

    .node-add {
        display: block;
        width: 20px;
        height: 20px;
        line-height: 19px;
        border: 1px solid #464646;
        border-radius: 50%;
        color: #ececec;
        text-align: center;
        text-decoration: none;
        box-shadow: 0 0 3px gray;
        font-size: 12px;
        background: #464646;
        margin-left: 15px;
        cursor: pointer;

    }
}

/*.material-icons {
    font-size: 16px !important;

}*/

.node-md-indigo {
    background: #7986cb;
    color: #e6ee9c;

}

.margin-node {
    /*width: 90%;*/
    /*margin: 20px auto;*/

}

@media screen and (min-width: 768px) {
    .progress-line {
        top: -27px;
        position: relative;
        width: 200px;
        z-index: -100;
        height: 10px;

    }
}

@media screen and (max-width: 767px) {
    .progress-line {
        width: 25%;
        margin-left: 25px;
        z-index: 2;
        position: relative;
        top: -20px;
        height: 130px;
    }
}

@media screen and (min-width: 768px) {
    .travel-button {
        position: relative;
        z-index: 4;
        margin-left: 46%;
        top: -48px;
    }
}

@media screen and (max-width: 767px) {
    .travel-button {
        z-index: 4;
        margin-top: 60px;
        margin-left: -12px;
    }
}

@media screen and (min-width: 768px) {
    .middle-bar {
        height: 3px;
        background-color: #0000cc;
        margin-left: -4px;
        margin-top:-63px;
    }
}

@media screen and (max-width: 767px) {
    .middle-bar {
        width: 3px;
        height: 150px;
        background: #0000cc;
    }

}

@media screen and (min-width: 768px) {
    .node-md-action-input {
        position: absolute;
        margin-left: -40px;
    }

    .travel-button-action {
        position: absolute;
        margin-left: 5%;
        margin-top: 2%;
        background-color: #6666ff;
    }
}

@media screen and (max-width: 767px) {
    .node-md-action-input {
        position: absolute;
        margin-left: 90px;
        margin-top: -60px;
    }

    .travel-button-action {
        position: relative;
        margin-left: 32%;
        margin-top: -65%;
        background-color: #6666ff;
    }
}

.node-add-action {

    margin-left: -1%;

}
.edgechildServices
{
  position: relative;
  top: 18px;
  left:92px;
}

/* for tooltip*/

.focus {
  color:red;
}


.btnWithToolTip {
  position: relative;
}

.btnToolTip {
  position: absolute;
  background-color: black;
  opacity: 0.7;
  padding: 5px;
  margin: 5px;
  display: block;
  color: whitesmoke;
}
