<div ng-if="!commonIconComponent.show">
  {{commonIconComponent.childDetails.negationStatement}}
</div>

<div ng-if="commonIconComponent.show">
  <div ng-if="commonIconComponent.childRendererState==undefined">
    <md-button ng-click="commonIconComponent.createChild()">{{commonIconComponent.childDetails.chooseCaption}}</md-button>
  </div>
  {{commonIconComponent.childRendererState}}
  <div ng-if="commonIconComponent.childRendererState !== undefined || commonIconComponent.childRendererState=='focus'">
    <i class="material-icons" ng-class="commonIconComponent.childRendererState" ng-click="commonIconComponent.reflectChildSelect()">{{commonIconComponent.childDetails.icons}}</i>
  </div>
</div>
