<div class="header_border">
    <div>
        <md-toolbar class=main-toolbar>
            <div layout="row">
                <div flex="100">
                    <img src="public/assets/images/logo.png" alt="logo">
                </div>
                <div class="header_icons" flex="90">
                    <div flex-offset="80">
                        <i class="material-icons">home</i>
                        <i class="material-icons">notifications</i>
                        <i class="material-icons">person</i>
                    </div>
                </div>
            </div>
    </div>

    </md-toolbar>
</div>
<ng-outlet></ng-outlet>