  <md-divider layout-margin></md-divider>
<selected-data-display-component service-logo="childSelectedDataRendererComponent.serviceLogo" service-details=" childSelectedDataRendererComponent.serviceDetails" begin-date-time="childSelectedDataRendererComponent.beginDateTime" end-date-time="childSelectedDataRendererComponent.endDateTime"price="childSelectedDataRendererComponent.price" extra-description="childSelectedDataRendererComponent.extraDescription">
</selected-data-display-component>
  <md-divider layout-margin></md-divider>
<selected-data-display-component service-logo="childSelectedDataRendererComponent.serviceLogo1" service-details=" childSelectedDataRendererComponent.serviceDetails1" begin-date-time="childSelectedDataRendererComponent.beginDateTime1" end-date-time="childSelectedDataRendererComponent.endDateTime1"
price="childSelectedDataRendererComponent.price1" extra-description="childSelectedDataRendererComponent.extraDescription1">
</selected-data-display-component>




<!-- {{childSelectedDataRendererComponent.value}} -->
<!-- Inside child selected data renderer
<br>
{{childSelectedDataRendererComponent.value}}
<br>
<div ng-repeat="(stayOrLocalTravelOrBooking,associatedValue) in childSelectedDataRendererComponent.value">                               <!-- node1s1:value,node1s2:value,node1t1:value-->

    <!-- <div ng-if="stayOrLocalTravelOrBooking=='stay'">
      <div ng-repeat="stayObject in associatedValue">
        <div ng-repeat="(requestedOrSelected,value) in stayObject">
          <div ng-if="requestedOrSelected=='selectedData'">
             <selected-data-display-component logo="value.image" name="value.name" room-type="value.roomType" mode-value="stayOrLocalTravelOrBooking" start-time="value.checkinTime" start-date="value.checkinDate" end-time="value.checkoutTime" end-date="value.checkoutDate" location="value.location"  price="value.price"></selected-data-display-component>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div ng-if="stayOrLocalTravelOrBooking=='localTravel'">
      <div ng-repeat="localTravelObject in associatedValue">
        <div ng-repeat="(requestedOrSelected,localTravelValue) in localTravelObject">
          <div ng-if="requestedOrSelected=='selectedData'">
            <div ng-if="localTravelValue.type=='cab'">
              <selected-data-display-component mode-or-seat-key-object="localTravelValue.cab" name="localTravelValue.cab.companyName" logo="localTravelValue.cab.image" mode-value="localTravelValue.type" mode-key="childSelectedDataRendererComponent.modePref(type)" start-time="localTravelValue.pickupTime"  start-date="localTravelValue.pickupDate"  source="localTravelValue.source" end-time="localTravelValue.dropTime" end-date="localTravelValue.dropDate" destination="localTravelValue.destination" price="localTravelValue.cab.estimatedPrice"></selected-data-display-component>
            </div>
            <div ng-if="localTravelValue.type=='localBus'">
              <selected-data-display-component mode-or-seat-key-object="localTravelValue.localBus" name="localTravelValue.localBus.companyName"logo="localTravelValue.localBus.image" mode-value="localTravelValue.type" mode-key="childSelectedDataRendererComponent.modePref(type)" start-time="localTravelValue.pickupTime"  start-date="localTravelValue.pickupDate"  source="localTravelValue.source" end-time="localTravelValue.dropTime" end-date="localTravelValue.dropDate" destination="localTravelValue.destination" price="localTravelValue.localBus.price"></selected-data-display-component>
            </div>
          </div>
        </div>
       </div>
    </div>

    <div ng-if="stayOrLocalTravelOrBooking=='booking'">
        <div ng-repeat="(requestedOrSelected,bookingValue) in associatedValue">
          <div ng-if="requestedOrSelected=='selectedData'">
            <div ng-if="bookingValue.mode=='flight'">
              <selected-data-display-component mode-or-seat-key-object="bookingValue.flight" name="bookingValue.flight.companyName" logo="bookingValue.flight.image" mode-value="bookingValue.mode" mode-key="childSelectedDataRendererComponent.modePref(type)" seat-key="childSelectedDataRendererComponent.seatPref(value)" start-time="bookingValue.travelStartTime" source="bookingValue.flight.sourceAirport" start-date="bookingValue.travelStartDate" end-time="bookingValue.travelEndTime" end-date="bookingValue.travelEndDate" destination="bookingValue.flight.destinationAirport" price="bookingValue.flight.price" seat-preferences="childSelectedDataRendererComponent.getSeatPref()"></selected-data-display-component>
            </div>
            <div ng-if="bookingValue.mode=='train'">
              <selected-data-display-component mode-or-seat-key-object="bookingValue.train" name="bookingValue.train.companyName" logo="bookingValue.train.image" mode-value="bookingValue.mode" mode-key="childSelectedDataRendererComponent.modePref(type)" seat-key="childSelectedDataRendererComponent.seatPref(value)" start-time="bookingValue.travelStartTime" source="bookingValue.train.sourceStation" start-date="bookingValue.travelStartDate" end-time="bookingValue.travelEndTime" end-date="bookingValue.travelEndDate" destination="bookingValue.train.destinationStation" price="bookingValue.train.price" seat-preferences="childSelectedDataRendererComponent.getSeatPref()"></selected-data-display-component>
            </div>
            <div ng-if="bookingValue.mode=='bus'">
              <selected-data-display-component mode-or-seat-key-object="bookingValue.bus" name="bookingValue.bus.companyName" logo="bookingValue.bus.image" mode-value="bookingValue.mode" mode-key="childSelectedDataRendererComponent.modePref(type)" seat-key="childSelectedDataRendererComponent.seatPref(value)" start-time="bookingValue.travelStartTime" source="bookingValue.bus.sourceBusStop" start-date="bookingValue.travelStartDate" end-time="bookingValue.travelEndTime" end-date="bookingValue.travelEndDate" destination="bookingValue.bus.destinationBusStop" price="bookingValue.bus.price" seat-preferences="childSelectedDataRendererComponent.getSeatPref()"></selected-data-display-component>
            </div>
          </div>
        </div>
    </div> -->
<!--
</div> --> -->
