<link rel="stylesheet" href="public/css/myStyle.css">
<div id="outerDiv">
<!--    <md-toolbar layout="row" class="navbar" style="position:fixed;">
        <div id="left"><h2>K2</h2></div>
        <div id="right">
            <i class="material-icons">home</i>
            <i class="material-icons">notifications</i>
            <i class="material-icons">account_circle</i>
        </div>
    </md-toolbar>`
  -->
  <div id="content" flex="80">
          <div layout="column">
             <main-component value="jsonData"></main-component>
             <div>
               <md-button class="md-raised md-primary">Modify</md-button>
               <md-button class="md-raised md-primary">Confirm</md-button>
             </div>
          </div><!--column layout end-->
    </div><!--content end-->
  </div><!--outerDiv end-->
