
  <div class="content_div" ng-cloak layout="row" layout-sm="column">

        <div id="sidebar" hide-sm hide-xs flex="20">
            <md-grid-list md-cols=2 md-row-height="4:1" class="det_header">
              <md-grid-tile>Filter results</md-grid-tile>
              <md-grid-tile><md-button class="md-primary" ng-click="reset()">Reset All</md-grid-tile>
            </md-grid-list>
            <md-card ng-repeat="filt in filtrs">
              <md-card-title>
                <md-card-title-text>
                  {{filt.Displayname}}
                </md-card-title-text>
              </md-card-title>
                <md-card-content>
                  <div ng-show={{filt.type=='slider'}}>
                    <span ng-bind="range"></span>

                    <md-slider aria-label="range" ng-model="range" min={{filt.data.min}} max={{filt.data.max}} ng-change="slideP(filt.id,range)">
                    </md-slider>
                    <!-- <input ng-change="slideP(range)" type="range"  min={{filt.data.min}} max={{filt.data.max}} ng-model="range" /> -->
                  </div>
                  <div ng-show={{filt.type=='checkbox'}}>
                    <div ng-repeat="area in filt.data">
                      <!-- <input type="checkbox" ng-model="chkbox" ng-change="scc(area,chkbox)"/>{{area}} -->
                      <md-checkbox ng-model="chkbox" aria-label="{{area}}" ng-change="scc(area,chkbox)" >{{area}}</md-checkbox>
                    </div>
                  </div>
                  <div ng-show={{filt.type=='button'}}>
                    <div ng-repeat="time in filt.data" class="filt_button">
                      <button ng-click="mrngDep(filt.id,$index)">{{time}}</button>
                    </div>
                  </div>
                </md-card-content>
            </md-card>
      </div>
        <div id="mainbar" flex="100" flex-gt-sm="80">
          <md-grid-list class="det_header md-caption" md-cols="7" md-gutter="1em" md-row-height="4:1">
            <md-grid-tile >Train name(No)</md-grid-tile>
            <md-grid-tile >Departure
              <i class="material-icons sortIc" ng-show="sortIcon" ng-click="sortIcon=!sortIcon;sort('departure_time')">arrow_drop_down</i>
              <i class="material-icons sortIc" ng-show="!sortIcon" ng-click="sortIcon=!sortIcon;sort('-departure_time')">arrow_drop_up</i>
            </md-grid-tile>
            <md-grid-tile >Arrival
                <i class="material-icons sortIc" ng-show="sortIcon" ng-click="sortIcon=!sortIcon;sort('arrival_time')">arrow_drop_down</i>
                <i class="material-icons sortIc" ng-show="!sortIcon" ng-click="sortIcon=!sortIcon;sort('-arrival_time')">arrow_drop_up</i>

            </md-grid-tile>
            <md-grid-tile >Duration</md-grid-tile>
            <md-grid-tile >Availability/WL</md-grid-tile>
            <md-grid-tile >Price
              <i class="material-icons sortIc" ng-show="sortIcon" ng-click="sortIcon=!sortIcon;sort('price')">arrow_drop_down</i>
              <i class="material-icons sortIc" ng-show="!sortIcon" ng-click="sortIcon=!sortIcon;sort('-price')">arrow_drop_up</i>
            </md-grid-tile>
            <md-grid-tile></md-grid-tile>
          </md-grid-list>
          <md-card ng-if="data.length==0">
            <center>No train runs on the filters you have applied. <br>
              Please modify the filters.
            </center>
          </md-card>
          <md-card class="animate-repeat" ng-repeat="one in data | orderBy:myOrder">
            <md-grid-list class="det_cards" md-cols="7"  md-row-height="1:1">
              <md-grid-tile>
                <div>{{one.trainNo}}<br>
                <span class="spann">{{one.Name}}</span>
                </div>
              </md-grid-tile>
              <md-grid-tile>{{one.departure_time}}</md-grid-tile>
              <md-grid-tile>{{one.arrival_time}}</md-grid-tile>
              <md-grid-tile>{{one.duration}}</md-grid-tile>
              <md-grid-tile >{{one.Availability}}</md-grid-tile>
              <md-grid-tile>Rs.{{one.price}}</md-grid-tile>
              <md-grid-tile>
                <div id="selectButton">
                  <button>Select</button>
                  <button ng-show="showbutton" ng-click="hidebutton=true;showbutton=false;expandCard($index)">ShowDetails</button>
                  <button ng-show="hidebutton" ng-click="showbutton=true;hidebutton=false;hideCard($index)">HideDetails
                  </button>
                </div>

              </md-grid-tile>
            </md-grid-list>
            <div ng-show="{{'showDiv'+$index}}" id="moreDetails">
              <div layout="row">
              <div flex="50">
                Train No:
                <font class="value">{{one.trainNo}}</font>
              </div>
              <div flex="50">
                Train Name:
                <font class="value">{{one.Name}}</font>
              </div>
            </div>
            <div layout="row">
              <div flex="50">
                Departure Station:
                <font class="value">{{one.departure_station}}</font>
              </div>
              <div flex="50">
                Arrival Station:
                <font class="value">{{one.arrival_station}}</font>
              </div>
            </div>
            </div>
          </md-card>
        </div>
      </div>
