<md-dialog   ng-cloak  ng-controller="travelPreferenceController">
    <md-dialog-content>

        <div class="md-dialog-content">
            <div class="md-headline">Select Travel Preference</div>
            <form ng-submit="submit()" class="md-padding" ng-cloak >
                <md-radio-group ng-model="typeOfTravel" layout="row"    layout-align="center center">
                    <md-radio-button value="oneWay" class="md-checked md-primary" >One Way</md-radio-button>
                    <md-radio-button value="roundTrip" class="md-primary">Round Trip</md-radio-button>
                    <md-radio-button value="multiCity" class="md-primary">Multi City</md-radio-button>
                </md-radio-group>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()" >
            Cancel
        </md-button>
        <span flex></span>
        <md-button ng-click="go('/Travelbooking')">
            Proceed
        </md-button>

    </md-dialog-actions>
</md-dialog>