<div class="mainTravelDiv">
<h1 layout="row"  layout-padding layout-align="center center">
<div flex="auto" class="text-center">Plan Your Journey</div>
</h1>
<div class="main_component" layout-align="center" class="bidi_details">
<div class=" margin-node" ng-controller="nodestructurecontroller">
    <div class=" line">

        <div ng-repeat="(key, value) in travelPlanJSON.nodes" class="node-add-action">

            <div ng-if="key.indexOf('node')>-1" )>

            </div>

            <div class="progress-line" ng-if="$index>=1">
                <div class=" node-sm travel-button"
                     ng-click="Flight_buttion_Action(value)">
                    <i class="material-icons">{{travelPlanJSON.edges['edge'+$index].childServices.edgeMode1.request.mode
                        |
                        lowercase}}</i>
                </div>
                <div class="middle-bar"></div>
                <div class="travel-button-action" ng-show="value.flightShow==true">
                    <i class="material-icons"
                       ng-click="change_travel_mode($index,travelPlanJSON.edges['edge'+$index].childServices,'flight')">flight</i>
                    <i class="material-icons"
                       ng-click="change_travel_mode($index,travelPlanJSON.edges['edge'+$index].childServices,'train')">train</i>
                    <i class="material-icons"
                       ng-click="change_travel_mode($index,travelPlanJSON.edges['edge'+$index].childServices,'directions_bus')">directions_bus</i>
                </div>

            </div>

            <div class="node">
                <div class="node-md" ng-click="go('Travelbooking'); node_md_action_show(value)" id="nodeid" click-outside="closeThis(value)" outside-if-not="nodeid,node-md-main-action">
                    {{value.cityName
                    | limitTo:3 |
                    uppercase}}
                </div>
                <i class="material-icons node-stay" ng-click="go('staybooking');">hotel</i>
                <i class="material-icons node-local-travel">directions_car</i>
                <div class="node-md-action" id="node-md-main-action" ng-show="value.show==true">


                    <md-autocomplete class="node-md-action-input" flex="" required="" md-input-name="autocompleteField"
                                     md-input-minlength="2" md-input-maxlength="18" md-no-cache="ctrl1.noCache"
                                     md-selected-item="value.cityName" md-search-text="value.cityName"
                                     md-items="item in ctrl1.querySearch(ctrl1.searchText[$index+1])"
                                     md-item-text="item.display" md-floating-label="Location" ng-mouseleave="count=true"
                                     ng-hide
                    "count">

                    <md-item-template>
                        <span md-highlight-text="value.cityName">{{item.display}}</span>
                    </md-item-template>
                    </md-autocomplete>


                </div>
            </div>
            <div class=" node-add node" ng-if="$index>0" ng-show="$index == (travelPlanJSON.nodes | keylength)-1 ">
                <div class=" glyphicon glyphicon-plus" ng-click="addNode($index)"></div>
            </div>
            <div class=" node-add node" ng-if="$index>1" ng-show="$index == (travelPlanJSON.nodes | keylength)-1 ">
                <div class="glyphicon glyphicon-minus" ng-click="subNode($index)"></div>
            </div>
        </div>
    </div>
</div>
 </div>
 </div>
