<!-- Inside train
<child-renderer array-of-child-fields-data="trainRenderer.arrayOfChildFieldsData" meta-data-of-child-fields="trainRenderer.metaDataOfChildFields" card-heading="{{trainRenderer.cardHeading}}"></child-renderer> -->
<!-- Inside train
<br>
this is train comp -->
<!-- <child-card-renderer array-of-child-fields-data="trainRenderer.arrayOfChildFieldsData" meta-data-of-child-fields="trainRenderer.metaDataOfChildFields" card-heading="{{trainRenderer.cardHeading}}"></child-card-renderer> -->
<!-- <br>
before child-card-renderer-without-icons
<br>
{{trainRenderer.metaDataOfChildFields}}
<br>yoo bakwaas<br>
{{trainRenderer.childFieldsData}} -->
<!-- <child-card-renderer-without-icons child-fields-data="trainRenderer.childFieldsData"
meta-data-of-child-fields="trainRenderer.metaDataOfChildFields" card-heading="{{trainRenderer.cardHeading}}"></child-card-renderer-without-icons> -->
<md-card ng-if="trainRenderer.childFieldsData != undefined">
  <md-card-title>
    {{trainRenderer.cardHeading}}

  </md-card-title>
  <!-- <div ng-repeat="childFieldsData in trainRenderer.childFieldsData"> -->
    <md-divider layout-margin></md-divider>
    <div layout-margin ng-if="trainRenderer.childFieldsData.state == 'initial' || trainRenderer.childFieldsData.state == 'request'">

      <child-form-renderer fields-data="trainRenderer.childFieldsData.requested" fields-meta-data="trainRenderer.metaDataOfChildFields"></child-form-renderer>


    </div>
    <div layout-margin ng-if="trainRenderer.childFieldsData.state == 'select'">
      <!-- Insert read only component of train -->


      <div layout="row" layout-margin>
        <div flex="80" layout-margin>
          <train-selected-data-renderer index="{{$index}}" selected-meta-data="trainRenderer.childFieldsData.selected" delete-selected-train-child=trainRenderer.onDelete(index) edit-selected-train-child=trainRenderer.onEdit(index)>
          </train-selected-data-renderer>

      </div>

      <div flex="20" layout="row"  layout-align="center center">
        <ng-md-icon flex="45" size="35px" icon="delete" ng-click="trainRenderer.onDelete($index) "></ng-md-icon>
        <ng-md-icon flex="45" flex-offset="5"  size="35px" icon="mode_edit"
        ng-click="trainRenderer.onEdit()"></ng-md-icon>
      </div>
    </div>
    </div>
    <!-- <div ng-if="childFieldsData.status=='selected'">
    {{childFieldsData.status}}
    <child-selected-data-renderer-component value="childFieldsData"
    get-mode-pref="trainRenderer.getModePref('train')"
    get-seat-pref="trainRenderer.getSeatPref('train')"></child-selected-data-renderer-component>
  </div> -->
  <md-divider layout-margin></md-divider>
<!-- </div> -->
</md-card>
