<md-card>
  <md-card-title>
    {{childCardRenderer.cardHeading}}
  </md-card-title>
  <div ng-repeat="childFieldsData in childCardRenderer.arrayOfChildFieldsData">
    <div >
    
    <child-form-renderer fields-data="childFieldsData" fields-meta-data="childCardRenderer.metaDataOfChildFields" ></child-form-renderer>

    <ng-md-icon flex="40" flex-offset="10" icon="delete" ng-click="childCardRenderer.onDelete(index)"></ng-md-icon>
    <ng-md-icon flex="40" flex-offset="10" icon="add_circle" ng-click="childCardRenderer.onAdd()"></ng-md-icon>
   </div>

    <md-divider layout-margin></md-divider>
  </div>
</md-card>
