
<div layout="column">
    <div class="travel-plan-fixed">
        <travel-plan travelplanobject="travelBookingParentCtrl.travelPlanObject" nodetype="location" edgetype="transit" metadataoflocation="travelBookingParentCtrl.elementFields['location']"
        metadataoftransit="travelBookingParentCtrl.elementFields['transit']"
        currentselectedobj="travelBookingParentCtrl.currentSelectedObj"
        selectedchildren="travelBookingParentCtrl.selectedChildren"
        locationchildservices="travelBookingParentCtrl.locationchildservices"
        transitchildservices="travelBookingParentCtrl.transitchildservices"
        currentnodeedgebooking="travelBookingParentCtrl.currentnodeedge(value2)"
        reflectselectedchild="travelBookingParentCtrl.reflectSelectedChild(selectedChildDetails)"
        reflectchildcreation="travelBookingParentComponent.reflectChildCreation(selectedChildDetails)">
        </travel-plan>
    </div>
<!-- 
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
    Before travel booking
    {{travelBookingParentCtrl.currentSelectedObj}}
    {{travelBookingParentCtrl.selectedChildren}} -->
    <div class="view-container" flex="100" layout="column">
        <travel-booking current-selected-obj="travelBookingParentCtrl.currentSelectedObj"
        meta-data-of-obj="travelBookingParentCtrl.elementFields[travelBookingParentCtrl.currentSelectedObj.type]"
        current-selected-children="travelBookingParentCtrl.selectedChildren"
            children-labels="travelBookingParentCtrl.childrenLabels">
        </travel-booking>

        <div layout="row" layout-align="end center">
        <md-button ng-show="!travelBookingParentCtrl.ifFirstElement()" class='md-raised md-primary select-button' ng-click="travelBookingParentCtrl.goToPreviousElement()">Previous</md-button>
            <md-button class='md-raised md-primary select-button' ng-click="travelBookingParentCtrl.goToNextElement()">Next</md-button>
        </div>
    </div>
</div>
