<div>
    <div layout="column" layout-align="center center" layout-fill="layout-fill">
        <div layout="column" class="loginBox md-whiteframe-z1 login-box">
            <md-toolbar>
                <h2 class="md-toolbar-tools"><span>Login</span></h2>
            </md-toolbar>
            <md-content layout="column" class="md-padding">
                <md-input-container>
                    <label>Username</label>
                    <input type="text" ng-model="login.username" required/>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="login.password" required/>
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button ng-click="login.loginSubmit()" class="md-raised md-primary">Login</md-button>
                    <div flex="flex"></div>
                    <md-button href="" md-no-ink="md-no-ink">Forgot Password</md-button>
                </div>
            </md-content>
        </div>
    </div>

</div>