<essential-fields-form-component form-data="travelPlanFormCtrl.essentialFormData" bind-data-key="essentialFormData" form-field-essential-data ="travelPlanFormCtrl.currentFormFieldsEssentialData" reflect-form-data = "travelPlanFormCtrl.essentialFieldsUpdateWrapper(keyString,value, fieldId)"
 ></essential-fields-form-component>

<child-services-wrapper-component form-data="travelPlanFormCtrl.currentFormData.childServices" bind-data-key="currentFormData.childServices" form-fields-data ="travelPlanFormCtrl.currentFormFieldsChildServicesData" reflect-form-data="travelPlanFormCtrl.childServicesFormUpdateWrapper(keyString,value, childServiceId, fieldId)" form-fields-services-names="travelPlanFormCtrl.currentFormFieldsServicesNames"></child-services-wrapper-component>
